{% extends "base.html" %}
{% block content %}
<div class="card">
    <h1>Consultar Abonadas</h1>
    <form method="POST">
        <input type="text" name="pesquisa" placeholder="Nome, setor ou data">
        <button type="submit">Pesquisar</button>
    </form>
    <table>
        <tr><th>ID</th><th>Nome</th><th>Data</th><th>Setor</th><th>Trimestre</th></tr>
        {% for linha in resultados %}
        <tr><td>{{ linha[0] }}</td><td>{{ linha[1] }}</td><td>{{ linha[2] }}</td><td>{{ linha[3] }}</td><td>{{ linha[4] }}</td></tr>
        {% endfor %}
    </table>
    <a href="/menu" class="btn-voltar">Voltar ao Menu Inicial</a>
</div>
{% endblock %}